<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" http-equiv="Content-Security-Policy" content="script-src 'self' 'sha256-In6B8teKZQll5heMl9bS7CESTbGvuAt3VVV86BUQBDk='"/>
    <title><%= lang('app.title') %></title>
    <script src="./assets/js/scripts/uicore.js"></script>
    <script src="./assets/js/scripts/uibinder.js"></script>
    <link type="text/css" rel="stylesheet" href="./assets/css/old.css"> <!-- Основное (старое, что изначально было) -->
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css"> <!-- Основное -->
    <link type="text/css" rel="stylesheet" href="./assets/css/login.css"> <!-- Авторизация (login.ejs) -->
    <link type="text/css" rel="stylesheet" href="./assets/css/landing.css"> <!-- Главная страница (landing.ejs) -->
    <link type="text/css" rel="stylesheet" href="./assets/css/frame.css"> <!-- Фрэйм (frame.ejs) -->
    <link type="text/css" rel="stylesheet" href="./assets/css/settings.css"> <!-- Настройки (settings.ejs) -->
    <link type="text/css" rel="stylesheet" href="./assets/css/overlay.css"> <!-- Оверлей (overlay.ejs) -->
    <style>
        body {
            -webkit-user-select: none;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
        #main {
            padding: 10px 30px 30px 30px;
            width: -webkit-fill-available;
            height: -webkit-fill-available;
            display: none;
            z-index: 10;
        }
        .border-radius {    
            display: flex;

            width: 100%;
            height: 100%;

            border-radius: var(--border-radius);
            border: var(--1) solid 2px;
            background-color: var(--0);

            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="border-radius">
    <%- include('frame') %>
    <div id="main">
        <%- include('landing') %>
        <%- include('settings') %>
        <%- include('login') %>
        <%- include('waiting') %>
    </div>
    <%- include('overlay') %>
    </div>
</body>
</html>