<div id="loginContainer" style="display: none;">
    <div id="loginCancelContainer" style="display: none;">
        <button id="loginCancelButton">
            <div id="loginCancelIcon">X</div>
            <span id="loginCancelText"><%- lang('login.loginCancelText') %></span>
        </button>
    </div>
    <div id="loginContent">
        <form id="loginForm">
            <img src="assets/images/LogoText.png" width="350px"/>
            <br>
            <span id="loginSubheader"><%- lang('login.loginSubheader') %></span>
            <div class="loginFieldContainer">
                <span class="loginErrorSpan" id="loginEmailError"><%- lang('login.loginEmailError') %></span>
                <input id="loginUsername" class="loginField" type="text" placeholder="<%- lang('login.loginEmailPlaceholder') %>"/>
            </div>
            <div class="loginFieldContainer">
                <span class="loginErrorSpan" id="loginPasswordError"><%- lang('login.loginPasswordError') %></span>
                <input id="loginPassword" class="loginField" type="password" placeholder="<%- lang('login.loginPasswordPlaceholder') %>"/>
            </div>
            <div id="loginOptions">
                <span class="loginSpanDim">
                    <a href="<%- lang('login.loginForgotPasswordLink') %>"><%- lang('login.loginForgotPasswordText') %></a>
                </span>
                <label id="checkmarkContainer">
                    <input id="loginRememberOption" type="checkbox" checked>
                    <span id="loginRememberText" class="loginSpanDim"><%- lang('login.loginRememberMeText') %></span>
                    <span class="loginCheckmark"></span>
                </label>
            </div>
            <button id="loginButton" disabled>
                <div id="loginButtonContent">
                    <%- lang('login.loginButtonText') %>
                    <div class="circle-loader">
                        <div class="checkmark draw"></div>
                    </div>
                </div>
            </button>
            <div id="loginDisclaimer">
                <span class="loginSpanDim" id="loginRegisterSpan">
                    <a href="<%- lang('login.loginNeedAccountLink') %>"><%- lang('login.loginNeedAccountText') %></a>
                </span>
                <p class="loginDisclaimerText"><%- lang('login.loginPasswordDisclaimer1') %></p>
                <p class="loginDisclaimerText"><%- lang('login.loginPasswordDisclaimer2', { appName: lang('app.title') }) %></p>
            </div>
        </form>
    </div>
    <script src="./assets/js/scripts/login.js"></script>
</div>