<div id="loginContainer" style="display: none">
    <h1 class="loginTitle"><%- lang('login.loginTitle') %></h1>

    <!-- Вернуться назад 
     Появляется только если человек добавляет аккаунт-->
    <div id="loginCancelContainer" style="display: none;">
        <button id="loginCancelButton">
            <div id="loginCancelIcon">X</div>
            <span id="loginCancelText"><%- lang('login.loginCancelText') %></span>
        </button>
    </div>

    <!-- Авторизация -->
    <form id="loginForm">

        <!-- Ввод никнейма -->
        <div class="loginFieldContainer">
            <span class="loginErrorSpan" id="loginEmailError"><%- lang('login.loginEmailError') %></span>
            <input id="loginUsername" class="loginField" type="text" placeholder="<%- lang('login.loginEmailPlaceholder') %>"/>
        </div>

        <!-- Кнопка залогиниться -->
        <button id="loginButton" disabled>
            <div id="loginButtonContent">
                <%- lang('login.loginButtonText') %>
            </div>
        </button>

    </form>

    <!-- <div class="loginOptionButtonContainer">
        <button id="loginOptionMicrosoft" class="loginOptionButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 23 23">
                <path fill="#f35325" d="M1 1h10v10H1z" />
                <path fill="#81bc06" d="M12 1h10v10H12z" />
                <path fill="#05a6f0" d="M1 12h10v10H1z" />
                <path fill="#ffba08" d="M12 12h10v10H12z" />
            </svg>
            <span><%- lang('loginOptions.loginWithMicrosoft') %></span>
        </button>
    </div> -->
    <script src="./assets/js/scripts/login.js"></script>
    <!--<script src="./assets/js/scripts/loginOptions.js"></script>-->
</div>